<html ng-app="listaTelefonica" lang="pt-br">
    <head>
        <title>Lista Telefônica</title>

        <link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css">
        
        <style>
            .jumbotron {
                width: 400px;
                text-align: center;
                margin-top: 20px;
                margin-left: auto;
                margin-right: auto;
            }

            .table {
                margin-top: 20px;
            }

            .form-control {
                margin-bottom: 5px;
            }
        </style>

        <script src="lib/angular/angular.js"></script>
        
        <script>
            angular.module("listaTelefonica", []);
            angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function ($scope) {
                $scope.app = "Lista Telefônica";
                $scope.contatos = [
                    { nome: "Pedro", telefone: "999999999"},
                    { nome: "Ana", telefone: "999999777"},
                    { nome: "Maria", telefone: "999999888"}
                ];

                $scope.operadoras = [
                    { nome: "Oi", codigo: 14, categoria: "Celular" },
                    { nome: "Vivo", codigo: 15, categoria: "Celular" },
                    { nome: "Tim", codigo: 41, categoria: "Celular" },
                    { nome: "GVT", codigo: 25, categoria: "Fixo" },
                    { nome: "Embratel", codigo: 21, categoria: "Fixo" }
                ];

                $scope.adicionarContato = function (contato) {
                    $scope.contatos.push(angular.copy(contato));
                    delete $scope.contato;
                };
            });
        </script>
    </head>

    <body ng-controller="listaTelefonicaCtrl">
        <div class="jumbotron">
            <h3>{{ app }}</h3>

            <table class="table table-striped">
                <tr>
                    <th>Nome</th>
                    <th>Telefone</th>
                    <th>Operadora</th>
                </tr>

                <tr ng-repeat="contato in contatos">
                    <td>{{ contato.nome }}</td>
                    <td>{{ contato.telefone }}</td>
                    <td>{{ contato.operadora.nome }}</td>
                </tr>
            </table>

            <hr />

            <input class="form-control" type="text" ng-model="contato.nome" placeholder="Nome">
            <input class="form-control" type="text" ng-model="contato.telefone" placeholder="Telefone">

            <select
                class="form-control"
                ng-model="contato.operadora" 
                ng-options="operadora.nome for operadora in operadoras"
            >
                <option value="">Selecione uma operadora</option>
            </select>

            <button 
                class="btn btn-primary btn-block" 
                ng-click="adicionarContato(contato)"
                ng-disabled="!contato.nome || !contato.telefone"
            >
                Adicionar Contato
            </button>
        </div>
    </body>
</html>